<h1>Details</h1>

<% b = Book.find_by(id: params["id"]) %>

<p>Title: <%= b.title %></p>

<% author = Author.find_by(id: b.author_id) %>

<% if author != nil %>
    <p>Author: <%= author.name   %> </p>
<% else %>
    <p>Author unknown.</p>
<% end %>

<img width="150" src="<%= b.photo_url %>">