
<p>
  <a class="float-right btn btn-primary" href="/books/new">Add a New Book</a>
<p>

<ul>
  <% for book in Book.all %>
    <li>
      <a href="/books/<%= book.id %>">
          <%= book.title %>
      </a>
      <a href="/books/delete?id=<%= book.id %>">[toast]</a>
    </li>
  <% end %>
</ul>
