<h1>Welcome to Our Bookstore!</h1>

<ul>
    <% for book in Book.all %>
        <li>
            <a href="/details?id=<%= book.id %>">
                <%= book.title %>
            </a> 
            <a href="/books/delete?id=<%= book.id %>">[toast]</a>
        </li>
    <% end %>
</ul>