<center>
<h1>Leave your pet to an amazing host or become an amazing pet host</h1>

<form action="/petbnb/show" class='col-sm-5'>
<input class="form-control" type="text" name="search" placeholder="Search rentals..." required>
<button class="btn btn-primary">Submit</button>
</form>
</center>